absl-py==0.12.0
altgraph==0.17
asgiref==3.3.4
astor==0.8.1
astunparse==1.6.3
bidict==0.22.0
cachetools==4.2.1
certifi==2019.11.28
cffi==1.14.6
chardet==3.0.4
click==8.0.3
colorama==0.4.4
colorspacious==1.1.2
comtypes==1.1.10
cryptography==3.4.8
cssselect==1.1.0
cssutils==2.2.0
cycler==0.10.0
decorator==4.4.2
dnspython==2.2.1
docutils==0.17.1
eventlet==0.33.1
Faker==4.1.1
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SocketIO==5.2.0